# 1 Basic Data Structure

## 1.1 Numeric

### 1.1.1 Integer

In [1]:
a = 1

In [2]:
b = 2

In [3]:
type(a)

int

In [4]:
type(b)

int

### 1.1.2 Floating-Point Number

In [5]:
c = 0.5

In [6]:
d = 3/4

In [7]:
type(c)

float

In [8]:
type(d)

float

### 1.1.3 Boolean

In [9]:
t = True

In [10]:
f = False

In [11]:
type(t)

bool

In [12]:
type(f)

bool

### 1.1.4 Complex Number

In [13]:
z = 1 + 2j

In [14]:
z.real

1.0

In [15]:
z.imag

2.0

In [16]:
type(z)

complex

## 1.2 String

### 1.2.1 Create String

In [17]:
char1 = 'Hello Wold'

In [18]:
char2 = '0123456789'

In [19]:
type(char1)

str

In [20]:
type(char2)

str

### 1.2.2 Read String

In [21]:
char3 = '0123456789'

In [22]:
char3[0]

'0'

In [23]:
char3[5]

'5'

In [24]:
char3[-1]

'9'

In [25]:
char3[-2]

'8'

In [26]:
char3 = '0123456789'

In [27]:
char3[3:]

'3456789'

In [28]:
char3[:7]

'0123456'

In [29]:
char3[3:7]

'3456'

### 1.2.3 String + replace

In [30]:
char4 = 'abc'

In [31]:
char4.replace('a', 'A')

'Abc'

In [32]:
char4 = 'abc'

In [33]:
char4.replace('bc', 'DE')

'aDE'

### 1.2.4 String + len

In [34]:
char5 = '12345'

In [35]:
len(char5)

5

### 1.2.5 String + in

In [36]:
char6 = 'Python'

In [37]:
'P' in char6

True

In [38]:
'p' in char6

False

### 1.2.6 String + split

In [39]:
char7 = 'one-two-three'

In [40]:
char7.split('-')

['one', 'two', 'three']

In [41]:
char8 = 'I love coding'

In [42]:
char8.split(' ')

['I', 'love', 'coding']

### 1.2.7 String + Concatenation

In [43]:
char9 = 'ab'
char10 = 'cd'

In [44]:
char9 + char10

'abcd'

In [45]:
char11 = 'A'
char12 = 'B'
char13 = 'C'

In [46]:
char11 + char12 + char13

'ABC'

# 2 Composite Data Structure

## 2.1 List

### 2.1.1 Create List

In [47]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd']
list3 = [1, 2, 3, 'a', 'b', 'c']

In [48]:
type(list1)

list

In [49]:
type(list2)

list

In [50]:
type(list3)

list

### 2.1.2 Read List

In [51]:
list4 = [1, 2, 3, 'a', 'b', 'c']

In [52]:
list4[0]

1

In [53]:
list4[-1]

'c'

In [54]:
list4[-2]

'b'

In [55]:
list5 = [1, 2, 3, 'a', 'b', 'c']

In [56]:
list5[3:]

['a', 'b', 'c']

In [57]:
list5[:5]

[1, 2, 3, 'a', 'b']

In [58]:
list5[3:5]

['a', 'b']

### 2.1.3 Update List

#### 2.1.3.1 Replace

In [59]:
list6 = [1, 2, 3, 'a', 'b', 'c']

In [60]:
list6[0] = 0

In [61]:
list6

[0, 2, 3, 'a', 'b', 'c']

In [62]:
list6[-1] = 'x'

In [63]:
list6

[0, 2, 3, 'a', 'b', 'x']

#### 2.1.3.2 append

In [64]:
list7 = [1, 2, 3, 'a', 'b', 'c']

In [65]:
list7.append('d')

In [66]:
list7

[1, 2, 3, 'a', 'b', 'c', 'd']

In [67]:
list7.append('e')

In [68]:
list7

[1, 2, 3, 'a', 'b', 'c', 'd', 'e']

#### 2.1.3.3 extend

In [69]:
list8 = [1, 2, 3]
list9 = ['a', 'b', 'c']

In [70]:
list8.extend(list9)

In [71]:
list8

[1, 2, 3, 'a', 'b', 'c']

#### 2.1.3.4 insert

In [72]:
list10 = [1, 2, 3, 'a', 'b', 'c']

In [73]:
list10.insert(1, 'one')

In [74]:
list10

[1, 'one', 2, 3, 'a', 'b', 'c']

### 2.1.4 Delete List

#### 2.1.4.1 del

In [75]:
list11 = [1, 2, 3, 'a', 'b', 'c']

In [76]:
del list11[2]

In [77]:
list11

[1, 2, 'a', 'b', 'c']

In [78]:
list11 = [1, 2, 3, 'a', 'b', 'c']

In [79]:
del list11[-2]

In [80]:
list11

[1, 2, 3, 'a', 'c']

#### 2.1.4.2 remove

In [81]:
list12 = [1, 2, 3, 'a', 'b', 'c']

In [82]:
list12.remove(1)

In [83]:
list12

[2, 3, 'a', 'b', 'c']

In [84]:
list12.remove('a')

In [85]:
list12

[2, 3, 'b', 'c']

#### 2.1.4.3 clear

In [86]:
list13 = [1, 2, 3, 'a', 'b', 'c']

In [87]:
list13.clear()

In [88]:
list13

[]

### 2.1.5 List + sort

In [89]:
list14 = [1, 5, 4, 2, 3]

In [90]:
list14.sort()

In [91]:
list14

[1, 2, 3, 4, 5]

In [92]:
list14 = [1, 5, 4, 2, 3]

In [93]:
list14.sort(reverse = True)

In [94]:
list14

[5, 4, 3, 2, 1]

In [95]:
list14 = [1, 5, 4, 2, 3]

In [96]:
sorted_list14 = sorted(list14)

In [97]:
sorted_list14

[1, 2, 3, 4, 5]

In [98]:
list14 = [1, 5, 4, 2, 3]

In [99]:
sorted_list14 = sorted(list14, reverse = True)

In [100]:
sorted_list14

[5, 4, 3, 2, 1]

### 2.1.6 List + len

In [101]:
list15 = [1, 2, 3, 'a', 'b', 'c']

In [102]:
len(list15)

6

In [103]:
list16 = ['a', 'b', 'c', 'd', 'e']

In [104]:
len(list16)

5

### 2.1.7 List + in

In [105]:
list17 = [1, 2, 3, 'a', 'b', 'c']

In [106]:
'b' in list17

True

In [107]:
4 in list17

False

## 2.2 Tuple

### 2.2.1 Create Tuple

In [108]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b', 'c', 'd')
tuple3 = (1, 2, 3, 'a', 'b', 'c')

In [109]:
type(tuple1)

tuple

In [110]:
type(tuple2)

tuple

In [111]:
type(tuple3)

tuple

### 2.2.2 Read Tuple

In [112]:
tuple4 = (1, 2, 3, 'a', 'b', 'c')

In [113]:
tuple4[0]

1

In [114]:
tuple4[-1]

'c'

In [115]:
tuple4[-2]

'b'

In [116]:
tuple5 = (1, 2, 3, 'a', 'b', 'c')

In [117]:
tuple5[3:]

('a', 'b', 'c')

In [118]:
tuple5[:5]

(1, 2, 3, 'a', 'b')

In [119]:
tuple5[3:5]

('a', 'b')

### 2.2.3 Tuple + len

In [120]:
tuple6 = (1, 2, 3, 'a', 'b', 'c')

In [121]:
len(tuple6)

6

In [122]:
tuple7 = ('a', 'b', 'c', 'd', 'e')

In [123]:
len(tuple7)

5

### 2.2.4 Tuple + in

In [124]:
tuple8 = (1, 2, 3, 'a', 'b', 'c')

In [125]:
'b' in tuple8

True

In [126]:
4 in tuple8

False

## 2.3 Dictionary

### 2.3.1 Create Dictionary

In [127]:
dict1 = {'firstname' : 'John', 'lastname' : 'Doe', 'age' : 32}
dict2 = {'fullname' : 'John Doe', 'hobby' : ['coding', 'study']}

In [128]:
type(dict1)

dict

In [129]:
type(dict2)

dict

### 2.3.2 Read Dictionary

In [130]:
dict3 = {'firstname' : 'John', 'lastname' : 'Doe', 'age' : 32}

In [131]:
dict3['firstname']

'John'

In [132]:
dict3['age']

32

### 2.3.3 Update Dictionary

#### 2.3.3.1 Replace

In [133]:
dict4 = {'firstname' : 'John', 'lastname' : 'Doe', 'age' : 32}

In [134]:
dict4['firstname'] = 'Mario'

In [135]:
dict4

{'firstname': 'Mario', 'lastname': 'Doe', 'age': 32}

#### 2.3.3.2 Add New Key

In [136]:
dict5 = {'firstname' : 'John', 'lastname' : 'Doe', 'age' : 32}

In [137]:
dict5['blood_group'] = 'O'

In [138]:
dict5

{'firstname': 'John', 'lastname': 'Doe', 'age': 32, 'blood_group': 'O'}

#### 2.3.3.3 update

In [139]:
dict6 = {'firstname' : 'John', 'lastname' : 'Doe', 'age' : 32}

In [140]:
dict6.update({'blood_group' : 'O', 'height' : 180})

In [141]:
dict6

{'firstname': 'John',
 'lastname': 'Doe',
 'age': 32,
 'blood_group': 'O',
 'height': 180}

### 2.3.4 Delete Dictionary

#### 2.3.4.1 del

In [142]:
dict7 = {'firstname' : 'John', 'lastname' : 'Doe', 'age' : 32}

In [143]:
del dict7['lastname']

In [144]:
dict7

{'firstname': 'John', 'age': 32}

#### 2.3.4.2 clear

In [145]:
dict8 = {'firstname' : 'John', 'lastname' : 'Doe', 'age' : 32}

In [146]:
dict8.clear()

In [147]:
dict8

{}

### 2.3.5 Dictionary + len

In [148]:
dict9 = {'firstname' : 'John', 'lastname' : 'Doe', 'age' : 32}

In [149]:
len(dict9)

3

In [150]:
len(dict9.keys())

3

In [151]:
len(dict9.values())

3

### 2.3.6 Dictionary + in

In [152]:
dict10 = {'firstname' : 'John', 'lastname' : 'Doe', 'age' : 32}

In [153]:
'firstname' in dict10

True

In [154]:
'firstname' in dict10.keys()

True

In [155]:
'John' in dict10.values()

True

In [156]:
dict10 = {'firstname' : 'John', 'lastname' : 'Doe', 'age' : 32}

In [157]:
'weight' in dict10

False

In [158]:
'weight' in dict10.keys()

False

In [159]:
70 in dict10.values()

False

## 2.4 Set

### 2.4.1 Create Set

In [160]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 'a', 'b', 'c'}

In [161]:
type(set1)

set

In [162]:
type(set2)

set

### 2.4.2 Read Set

In [163]:
set3 = {'a', 'b', 'c', 'd', 'e'}

In [164]:
for x in set3:
    print(x)

b
c
a
d
e

### 2.4.3 Update Set

#### 2.4.3.1 add

In [165]:
set4 = {'a', 'b', 'c', 'd', 'e'}

In [166]:
set4.add(1)

In [167]:
set4

{1, 'a', 'b', 'c', 'd', 'e'}

#### 2.4.3.2 update

In [168]:
set5 = {'a', 'b', 'c', 'd', 'e'}

In [169]:
set5.update({1, 2})

In [170]:
set5

{1, 2, 'a', 'b', 'c', 'd', 'e'}

### 2.4.4 Delete Set

#### 2.4.4.1 Remove

In [171]:
set6 = {'a', 'b', 'c', 'd', 'e'}

In [172]:
set6.remove('a')

In [173]:
set6

{'b', 'c', 'd', 'e'}

In [174]:
set6.remove('c')

In [175]:
set6

{'b', 'd', 'e'}

#### 2.4.4.2 clear

In [176]:
set7 = {'a', 'b', 'c', 'd', 'e'}

In [177]:
set7.clear()

In [178]:
set7

set()

### 2.4.5 Set + len

In [179]:
set8 = {1, 2, 3, 4, 5}

In [180]:
len(set8)

5

### 2.4.6 Set + in

In [181]:
set9 = {1, 2, 3, 4, 5}

In [182]:
1 in set9

True

In [183]:
'a' in set9

False

### 2.4.7 Set + Union

In [184]:
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

In [185]:
setA | setB

{1, 2, 3, 4, 5, 6, 7}

### 2.4.8 Set + Intersection

In [186]:
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

In [187]:
setA & setB

{3, 4, 5}

### 2.4.9 Set + Difference

In [188]:
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

In [189]:
setA - setB

{1, 2}

In [190]:
setB - setA

{6, 7}

### 2.4.10 Set + Symmetric Difference

In [191]:
setA = {1, 2, 3, 4, 5}
setB = {3, 4, 5, 6, 7}

In [192]:
setA ^ setB

{1, 2, 6, 7}